.mypage_sidebar
  .mypage_sidebar__main
    = link_to mypages_path do
      .mypage_sidebar__mypage
        マイページ
        .mypage_sidebar__angle-right#mypage-angle-right
          = fa_icon "angle-right"
    .mypage_sidebar__notice
      お知らせ
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__to-do-list
      やることリスト
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__list-likes
      いいね！一覧
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__sell
      出品する
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__exhibited-products-exhibiting
      出品した商品-出品中
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__exhibited-during-trading
      出品した商品-取引中
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__exhibited-sold
      出品した商品-売却済み
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__purchased-products-exhibiting
      購入した商品-取引中
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__purchased-products-past-transactions
      購入した商品-過去の取引
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__news
      ニュース一覧
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__evaluation
      評価一覧
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__guide
      ガイド
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar__contact
      お問い合わせ
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar_pay
      メルペイ
    .mypage_sidebar_pay__sales
      売上・振込申請
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar_pay__point
      ポイント
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar-configuration
      設定
    .mypage_sidebar-configuration__profile
      プロフィール
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    .mypage_sidebar-configuration__change-address
      発送元・お届け先住所変更
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    = link_to payments_path do
      .mypage_sidebar-configuration__payment-method
        支払い方法
        .mypage_sidebar__angle-right
          = fa_icon "angle-right"
    .mypage_sidebar-configuration__password
      メール/パスワード
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    = link_to edit_address_path(current_user.id) do
      .mypage_sidebar-configuration__identity-information
        本人情報
        .mypage_sidebar__angle-right
          = fa_icon "angle-right"
    .mypage_sidebar-configuration__confirm-phone-number
      電話番号の確認
      .mypage_sidebar__angle-right
        = fa_icon "angle-right"
    = link_to logouts_path do
      .mypage_sidebar-configuration__logout
        ログアウト
        .mypage_sidebar__angle-right
          = fa_icon "angle-right"