.item-section__groups__unit
  = link_to product_path(product.id) do
    .item-section__groups__unit__image
      .item-section__groups__unit__image--box
        = image_tag "#{product.product_images.first.image}", width: "150px",height: "150px"
    .item-section__groups__unit__price
      %h4.item-section__groups__unit__price--caption
        ¥ #{product.price}
    .item-section__groups__unit__title
      %p.item-section__groups__unit__title--caption
        = product.name