.item-section
  .item-section__header
    .item-section__header__title
      %h3 レディース新着アイテム
    .item-section__header__link
      = link_to "#", class: "indexlink" do
        もっと見る＞

  .item-section__groups
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"

  .item-section__groups
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"

.item-section
  .item-section__header
    .item-section__header__title
      %h3 メンズ新着アイテム
    .item-section__header__link
      = link_to "#", class: "indexlink" do
        もっと見る＞

  .item-section__groups
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"

  .item-section__groups
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"
    = render "item_unit"