.header
  .header__logo
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", width:"150px", class: "header-top__logo--image"

.main
  .main__top
    商品の情報を入力
    .main__top__form
      .main__top__form__image
        %ul
          %li 出品画像
          %li 必須
          .main__top__form__image__2
          %li 最大10枚までアップロードできます
          .main___top__form_image__3
            %ul
              %li ドラッグ&ドロップ
              %li またはクリックしてファイルをアップロード
      .main__top__form__detail
        商品の詳細
        .main__top__form__detail__1
          %ul
            %li カテゴリー
            %li 必須
            %li 商品の状態
            %li 必須
      .main__top__form__delivery
        配送について
        .main__top__form__delivery__1
          %ul
            %li 配送料の負担
            %li 必須
            = link_to root_path do 
        .main__top__form__delivery__2
          %ul
            %li 発送元の地域
            %li 必須
            = link_to root_path do
        .main__top__form__delivery__3
          %ul
            %li 発送までの日数
            %li 必須
            = link_to root_path do
      .main__top__form__price
        販売価格(300〜9,999,999)
          .main__top__form__price__1
            %ul
              %li 価格
              %li 必須
          .main__top__form__price__2
            %ul
              %li 販売手数料 (10%)
          .main__top__form__price__3
            %ul
              %li 販売利益

      .main__top__form__attention
        %ul
          %li 禁止されている出品、行為を必ずご確認ください
          %li またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %li また、出品をもちまして加盟店規約に同意したことになります。
          .main__top__form__attention__1
            = f.submit '出品する', class: 'form__submit'
          .main__top__form__attention__２
            = f.submit '戻る', class: 'form__submit'
            

.footer
  .footer__top
    %ul
      %li 
        = link_to root_path do
          プライバシーポリシー
      %li 
        = link_to root_path do
          メルカリ利用規約
      %li 
        = link_to root_path do
          特定商取引に関する表記 
  .footer__image
    = image_tag "logo_red.svg", width: "80px", height: "65px"
  .footer__bottom
    © Mercari, Inc.