.header
  .header__logo
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", width:"150px", class: "header-top__logo--image"

.item-registration
  .item-registration__head
    商品の情報を入力
    .item-registration__form__group
      %ul
        %li 出品画像
        .item-registration__form__group__h
          %li 必須
        .item-registration__form__group__2
          %li 最大10枚までアップロードできます
        .item-registration__form__group__3
          %ul
            %li ドラッグ&ドロップ
            %li またはクリックしてファイルをアップロード
    .item-registration__form__group
      %ul
        %li 商品名
        .item-registration__form__group__h
          %li 必須
    .item-registration__form__group
      %ul
        %li 商品の説明
        .item-registration__form__group__h
          %li 必須
      .item-registration__form__group
        商品の詳細
        .item-registration__form__group__detrail
          %ul
            %li カテゴリー
            .item-registration__form__group__detrail__h
              %li 必須
            %li 商品の状態
            .item-registration__form__group__detrail__h
              %li 必須
      .item-registration__form__group__delivery
        配送について
        .item-registration__form__group__delivery__1
          %ul
            %li 配送料の負担
            .item-registration__form__group__delivery____h
              %li 必須
            = link_to root_path do 
        .item-registration__form__group__delivery____2
          %ul
            %li 発送元の地域
            .item-registration__form__group__delivery____h
              %li 必須
            = link_to root_path do
        .item-registration__form__group__delivery____3
          %ul
            %li 発送までの日数
            .item-registration__form__group__delivery____h
              %li 必須
            = link_to root_path do
      .item-registration__form__group__price
        販売価格(300〜9,999,999)
          .item-registration__form__group__price__1
            %ul
              %li 価格
              .item-registration__form__group__price__h
                %li 必須
          .item-registration__form__group__price__2
            %ul
              %li 販売手数料 (10%)
          .item-registration__form__group__price__3
            %ul
              %li 販売利益

      .item-registration__form__group
      %ul
        = link_to '禁止されている出品', '#'
        %li 、
        = link_to '行為', '#'
        %li を必ずご確認ください。
      %ul
        %li またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to '偽ブランドの販売', '#'
        %li は犯罪であり処罰される可能性があります。
      %ul
        %li また、出品をもちまして
        = link_to '加盟店規約', '#'
        %li に同意したことになります。
      .item-registration__form__group__actions
        = f.submit "出品する"
      = link_to 'もどる', root_path, class: 'item-registration__form__group__return'
            

.footer
  .footer__top
    %ul
      %li 
        = link_to root_path do
          プライバシーポリシー
      %li 
        = link_to root_path do
          メルカリ利用規約
      %li 
        = link_to root_path do
          特定商取引に関する表記 
  .footer__image
    = image_tag "logo_red.svg", width: "80px", height: "65px"
  .footer__bottom
    © Mercari, Inc.