=render partial: "header"

%section.slide-banner.owl-carousel
  = link_to "", root_path, class: "slide-banner__link slide-banner__link--sakura" 
  = link_to "", root_path, class: "slide-banner__link slide-banner__link--blue"
  = link_to "", root_path, class: "slide-banner__link slide-banner__link--logo"
  
=render partial: "upper_info"
.item-wrapper
  .item-section
  .item-section__header
    .item-section__header__title
      %h3 メンズ新着アイテム
    .item-section__header__link
      = link_to "#", class: "indexlink" do
        もっと見る＞

  .item-section__groups
    - @products.each do |product|
      = render partial: "item_unit", locals: { product: product }


  .item-section
    .item-section__header
      .item-section__header__title
        -# %h3 メンズ新着アイテム
      .item-section__header__link
        = link_to "#", class: "indexlink" do
          もっと見る＞

    .item-section__groups
      

    .item-section__groups
    

= render partial: "sell_​​button"
= render partial: "footer"

