=render partial: "header"

.background
  
  .contents
  
    .product-info
      .product-info__title
        = @product.name
      
      .product-info__wapper
        .product-info__wapper__photos
          .product-info__wapper__photos__main
            = image_tag "#{@product.product_images.first.image}", width: "280px", height: "280px"
          .product-info__wapper__photos__sub
            .product-info__wapper__photos__sub--views
              - if @product.product_images.second
                = image_tag "#{@product.product_images.second.image}", class: "image-content", width: "75", height: "75"
              - if @product.product_images.third
                = image_tag "#{@product.product_images.third.image}", class: "image-content", width: "75", height: "75"
              - if @product.product_images.fourth
                = image_tag "#{@product.product_images.fource.image}", class: "image-content", width: "75", height: "75"

        %table.product-info__wapper__exhibition
          %tbody
            %tr
              %th 出品者
              %td.product-info__exhibition--content
                = link_to mypages_path, class: "link-color" do
                  = @product.user.nickname
            %tr
              %th カテゴリー
              %td.product-info__wapper__exhibition--content
                = link_to "#" do
                  メンズ
                %br
                = link_to "#" do
                  >トップス
                %br
                = link_to "#" do
                  >Tシャツ/カットソー(半袖/袖なし)
            %tr
              %th ブランド
              %td
                = link_to "#" do
                  その他
            - if @product.size.present?
              %tr
                %th サイズ
                %td.product-info__wapper__exhibition--content
                  = @product.size
            %tr
              %th 商品の状態
              %td.product-info__wapper__exhibition--content
                = @product.condition
            %tr
              %th 配送料の負担
              %td.product-info__wapper__exhibition--content
                = @product.delivery_charge
            %tr
              %th 配送の方法
              %td.product-info__wapper__exhibition--content
                = @product.delivery_way
            %tr
              %th 発送元の地域
              %td.product-info__wapper__exhibition--content
                = @product.prefecture.name
            %tr
              %th 配送日の目安
              %td.product-info__wapper__exhibition--content
                = @product.delivery_days
      
      .product-info__price
        ¥ #{@product.price}
        %span.product-info__price--tax
          (税込)
    

      .product-action
        - if user_signed_in?
          - if @product.user_id == current_user.id
            = link_to "=", class: "link-none" do
              .product-action__btn
                %p.product-action__btn--edit
                  商品の編集
            %p.product-action__btn--choice
              or
            .product-action__btn
              %p.product-action__btn--cancel
                出品を一時停止する
            .product-action__btn
              %p.product-action__btn--delete
                この商品を削除する
          - else
            -if @product.status == "出品中"
              = link_to "#", class: "link-none" do
                .product-action__btn__buy
                  .product-action__btn__buy--text
                    購入画面に進む
            - else
              .product-action__btn
                .product-action__btn--soldout
                  売り切れました
        - else
          -if @product.status == "出品中"
            = link_to "#", class: "link-none" do
              .product-action__btn__buy
                .product-action__btn__buy--text
                  購入画面に進む
          - else
            .product-action__btn
              .product-action__btn--soldout
                売り切れました
      
      - unless user_signed_in? && @product.user_id == current_user.id
        .product-bottom
          .product-bottom__detail
            = @product.description
          .product-bottom__links
            .product-bottom__links__like
              .product-bottom__links__like--icon
                = fa_icon "heart"
              %p.product-bottom__links__like--text
                いいね！
              .product-bottom__links__like--count
                0
            .product-bottom__links__report
              .product-bottom__links__report--icon
                = fa_icon "flag"
              %p.product-bottom__links__report--text
                不適切な商品の報告
            = link_to "#", class: "protect" do
              .product-bottom__links__protect
                .product-bottom__links__protect--icon
                  = fa_icon "lock"
                %p.product-bottom__links__protect--text
                  あんしん・あんぜんへの取り組み

    .comment
      .comment__container
        .comment__container__caution
          %p.comment__container__caution--text
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment__container__field
          %input.comment__container__field--textarea
        .comment__container__btn
          .comment__container__btn--text
            コメントする

    .product-moves
      .product-moves__wapper
        .product-moves__wapper__previous
          = link_to "#", class: "link-color" do
            < 前の商品へ
        .product-moves__wapper__next
          = link_to "#", class: "link-color"  do
            次の商品へ >
    
    .sns-box
      .sns-box__container
        .sns-box__container__content
          .sns-box__container__content__facebook
            = link_to "#" do
              .sns-box__container__content__facebook--icon
                = fa_icon "facebook-square"
          .sns-box__container__content__twitter
            = link_to "#" do
              .sns-box__container__content__twitter--icon
                = fa_icon "twitter-square"
          .sns-box__container__content__pinterest
            = link_to "#" do
              .sns-box__container__content__pinterest--icon
                = fa_icon "pinterest-square"

=render partial: "footer"